In [5]:
import pandas as pd

In [9]:
df = pd.read_csv("/home/aqua/Documents/Tugas Akhir/program/backend/uploads/sampled_1000_dataset.csv")
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [10]:
df.head()

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,5084352,4,4,375,972,375,0,93.896860,...,32,0.0,0.0,0,0,0.0,0.0,0,0,6
1,80,6,56516055,153,104,54995,72483,646,0,359.444444,...,20,0.0,0.0,0,0,0.0,0.0,0,0,9
2,22,6,19,1,1,0,0,0,0,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,3
3,80,6,56232107,153,104,54995,72494,646,0,359.444444,...,20,0.0,0.0,0,0,0.0,0.0,0,0,9
4,80,6,20166,3,4,313,935,313,0,104.333333,...,20,0.0,0.0,0,0,0.0,0.0,0,0,4

In [8]:
df['Label'].value_counts()

3     104
4     103
10    100
8      98
6      93
2      89
7      87
1      84
5      83
11     80
9      79
Name: Label, dtype: int64